API_URL=http://TU_IP_PUBLICA/ocupacion-lab-api/estado
API_TOKEN=CAMBIA_ESTE_TOKEN

SERIAL_PORT=/dev/ttyUSB0
BAUDRATE=921600

MAC_TX_PERMITIDA=28:56:2f:4a:55:88
CANAL_ESPERADO=1

MODELO_EXACTO_PATH=models/modelo_lab_canal1_final.pkl
MODELO_RANGOS_PATH=models/modelo_lab_canal1_rangos_final.pkl
